[flake8]
max-line-length = 88
extend-select = B950
extend-ignore = E203, E501
exclude = migrations
          __pycache__
          manage.py
          settings.py
          env
          .env
          .venv
